@font-face {
  font-family: 'Times Ten';
  src: url('../fonts/TimesTenLTStd-RomanWeb.woff2') format('woff2'),
    url('../fonts/TimesTenLTStd-RomanWeb.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Times Ten', 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color);
}

header {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0 1em;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1, h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

header,
header .cover {
  pointer-events: none;
}

header .cover .heading,
header p {
  pointer-events: all;
}

header .cover .heading {
  margin-top: calc(100vh - 3rem);
}

main {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.previous, .next {
  position: fixed;
  width: 50vw;
  height: 100vh;
}

.previous {
  top: 0;
  left: 0;
  cursor: w-resize;
}

.next {
  top: 0;
  right: 0;
  cursor: e-resize;
}

.carousel {
  position: relative;
}

.carousel [role='list'] {
  /* These are more appropriate in a CSS reset */
  padding: 0;
  list-style: none;
}
.carousel-media {
  /* Arrange media horizontally */
  display: flex;
}

.carousel-scroll-container {
  /* Enable horizontal scrolling */
  overflow-x: auto;
  /* Enable horizontal scroll snap */
  scroll-snap-type: x proximity;
  /* Smoothly snap from one focal point to another */
  scroll-behavior: smooth;
}

.carousel-scroll-container::-webkit-scrollbar {
  /* Remove scrollbar space */
  width: 0;
  /* Optional: just make scrollbar invisible */
  background: transparent;  
}

.carousel-item {
  /* Limit the height of each media item */
  height: 100vh;
  /* Prevent media from shrinking */
  flex-shrink: 0;
  /* The focal point for each item is the center */
  scroll-snap-align: center;
}
/* Target direct descendant too in case the images have a wrapper parent */
.carousel-item > *,
.carousel-item :is(picture, figure, img, video) {
  height: 100%;
}
.carousel-item img,
.carousel-item video {
  /* Remove line height (typically done in a CSS reset) */
  display: block;
  /* Responsive width based on aspect ratio */
  width: auto;
}

.carousel-item:first-of-type {
  /* Allow users to fully scroll to the start */
  scroll-snap-align: start;
}
.carousel-item:last-of-type {
  /* Allow users to fully scroll to the end */
  scroll-snap-align: end;
}

.carousel figure {
  position: relative;
}

.carousel figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  /* background-color: hsl(0deg 0% 0% / 75%); */
  /* font-size: small; */
}

.carousel figcaption,
.carousel figcaption * {
  color: white;
}

.carousel-control {
  --offset-x: 0;
  cursor: pointer;

  /* Anchor the controls relative to the outer wrapper */
  position: absolute;

  /* Center the controls vertically */
  top: 50%;
  /* padding: 1rem; */
  transform: translateY(-50%);
  /* border-radius: 50%; */
  /* border: solid 1px hsl(0deg 0% 50%); */
  /* background-color: white; */
  color: black;
  /* box-shadow: 0 0 16px 0 hsl(0deg 0% 0% / 20%); */
  line-height: 0;
  border: none;
  background-color: unset;
  width: 50%;
  height: 100%;
}

/* Don't allow icons to be event targets */
.carousel-control * {
  pointer-events: none;
}

.carousel-control[data-direction="start"] {
  /* Same as left in LTR and right in RTL */
  inset-inline-start: var(--offset-x);
  cursor: w-resize;
}

.carousel-control[data-direction="end"] {
  /* Same as right in LTR and left in RTL */
  inset-inline-end: var(--offset-x);
  cursor: e-resize;
}

.carousel-control[aria-disabled="true"] {
  /* filter: opacity(0.5); */
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
